<h1>Passenger Information</h1>
  <p>Name: <%= @passenger.name %></p>
    <section id = "passenger-flights">
      <p>My Flights:  <% @passenger.flights.each do |flight| %>
                            <li><%= link_to flight.number, flight_path(flight.id) %></li>
                      <% end %>
      </p>
    </section>

  <section id = "add-flight">
    <h3> Assign Passenger to a Flight </h3>

      <%= form_tag passenger_path(@passenger.id), method: :patch do %>

        <%= label_tag :flight_number %>
        <%= text_field_tag :flight_number %>

        <%= submit_tag 'Submit' %>
      <% end %>
  </section>
